@font-face {
  font-family: "iconfont"; /* Project id 2797379 */
  src: url('iconfont.woff2?t=1631067780818') format('woff2'),
       url('iconfont.woff?t=1631067780818') format('woff'),
       url('iconfont.ttf?t=1631067780818') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wangguan:before {
  content: "\ec5d";
}

.icon-wuxian:before {
  content: "\e674";
}

.icon-diannao2:before {
  content: "\e63e";
}

.icon-freewifi:before {
  content: "\e66a";
}

.icon-dianwangxianlu:before {
  content: "\e6ab";
}

.icon-shuidi:before {
  content: "\e6fa";
}

.icon-di:before {
  content: "\e610";
}

.icon-mianxingshuidi:before {
  content: "\e608";
}

.icon-wuxianwang-wifi:before {
  content: "\e69f";
}

.icon-jinggao1:before {
  content: "\e6ff";
}

.icon-pc:before {
  content: "\e927";
}

.icon-diannao3:before {
  content: "\e6ad";
}

.icon-shandian1:before {
  content: "\e638";
}

.icon-kuandai1:before {
  content: "\e6e2";
}

.icon-shuidibaoshi:before {
  content: "\e770";
}

.icon-thunderbolt-fill:before {
  content: "\eb6d";
}

.icon-dianhua-5:before {
  content: "\e7b6";
}

.icon-guangyuwangxianlu:before {
  content: "\e65a";
}

.icon-guangyuwangxianluzu:before {
  content: "\e65c";
}

.icon-guangyuwangxianluzu1:before {
  content: "\e679";
}

.icon-hulianwang-xianxing3-0:before {
  content: "\e688";
}

.icon-jinggao2:before {
  content: "\ec34";
}

.icon-wuxianwangluo:before {
  content: "\e66c";
}

.icon-liuliangtongji:before {
  content: "\e622";
}

.icon-jinggao:before {
  content: "\e71a";
}

.icon-router:before {
  content: "\e774";
}

.icon-diannao:before {
  content: "\e615";
}

.icon-diannao1:before {
  content: "\e60a";
}

.icon-jinggao-yuan-tianchong:before {
  content: "\e7cb";
}

.icon-dianhua:before {
  content: "\e720";
}

.icon-dianhua1:before {
  content: "\e7bf";
}

.icon-luyouqi:before {
  content: "\e61f";
}

.icon-luyouqi1:before {
  content: "\e61b";
}

.icon-weibiaoti-:before {
  content: "\e617";
}

.icon-shandian:before {
  content: "\e62d";
}

